= form_tag path, method: :get do
  .filter-bar
    .filter-bar__search
      = text_field_tag 'keywords', params[:keywords], placeholder: 'Search', class: 'search-field', 'data-target': 'filter.searchField'

    - if [params[:keywords], params[:filters]].any?(&:present?)
      = link_to 'Reset search term and all filters', path, class: 'filter-bar__clear'

    .filter-bar__buttons
      - if local_variables.include?(:filters)
        .filter-bar__btn.filter-bar__filter{ 'data-controller': 'expand', 'data-action': 'click->expand#toggle click@window->expand#hide' }
          = t('.filters', count: params[:filters]&.to_unsafe_h&.count.to_i)

          .filter-menu.u-is-hidden{ 'data-target': 'expand.content' }
            .filter-menu__row
              - filters.each do |filter|
                .filter-menu__col
                  .filter-menu__title= t(filter[:name], scope: "#{controller_name}.search_form")
                  - filter[:options].each do |name, attribute|
                    .filter-menu__filter
                      = check_box_tag "filters[#{filter[:param]}][]", attribute,
                        params.dig(:filters, filter[:param])&.include?(attribute), { ultiple: true, id: attribute }
                      = label_tag attribute, name

            .filter-menu__buttons
              %button= t('.apply')

      - if local_variables.include?(:sortings)
        .filter-bar__btn.filter-bar__sort{ 'data-controller': 'expand', 'data-action': 'click->expand#toggle click@window->expand#hide' }
          = t('.sorting')
          .menu.menu--selection{ 'data-target': 'expand.content' }
            - sortings.each do |name, sorting|
              = link_to t(name, scope: "#{controller_name}.search_form"),
                url_for(request.parameters.merge({sorting: sorting})),
                class: ('is-selected' if params.dig(:sorting)&.include?(sorting))
