!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Dummy
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    #content
      = render partial: 'layouts/flash_container'
      %nav
        = link_to 'OAuth', '/', class: controller_name == 'welcomes' && 'is-active'
        = link_to 'Elements', elements_path, class: controller_name == 'elements' && 'is-active'
      #stage
        = yield

    #modal{ 'data-controller': 'modal', 'data-action': 'click->modal#hide' }
      #modal__content{ 'data-target': 'modal.content' }
        = yield :modal
