<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', '#', class: controller_name == 'pages' && 'is-active' %>
    </nav>
    <div id="stage">
      <%= yield %>
    </div>
  </body>
</html>
