= content_for :sidebar do
  .sidebar-navigation
    = link_to 'Overview', '/forms', class: @page == 'index' && 'is-active'
    = link_to 'Inputs', '/forms/inputs', class: @page == 'inputs' && 'is-active'
    = link_to 'Check- & Radioboxes', '/forms/checkboxes', class: @page == 'checkboxes' && 'is-active'
    = link_to 'Selects', '/forms/selects', class: @page == 'selects' && 'is-active'
