= render 'pages/common/sidebar'

%h1 Tiles

%h2 Usage for semantic order
.tiles
  .tile
    .tile__caption Standard
    %p This is a standard <code>.tile</code>
  .tile.tile--gray
    .tile__caption Gray
    %p With <code>.tile--gray</code>
  .tile.tile--black
    .tile__caption Black
    %p With <code>.tile--black</code>

%h2 Usage as links
.tiles
  = link_to '#', class: 'tile' do
    .tile__caption Standard
    %p This is a standard <code>.tile</code>
  = link_to '#', class: 'tile tile--gray' do
    .tile__caption Gray
    %p With <code>.tile--gray</code>
  = link_to '#', class: 'tile tile--black' do
    .tile__caption Black
    %p With <code>.tile--black</code>

%pre
  %code
    :preserve
      .tiles  
        = link_to '#', class: 'tile' do
          .tile__caption Standard
          %p This is a standard <code>.tile</code>
        = link_to '#', class: 'tile tile--gray' do
          .tile__caption Gray
          %p With <code>.tile--gray</code>
        = link_to '#', class: 'tile tile--black' do
          .tile__caption Black
          %p With <code>.tile--black</code>   