= content_for :sidebar do
  .sidebar-navigation
    = link_to 'Overview', '/utils', class: @page == 'index' && 'is-active'
    = link_to 'Colors', '/utils/colors', class: @page == 'colors' && 'is-active'
    = link_to 'Layout', '/utils/layout', class: @page == 'layout' && 'is-active'
    = link_to 'Misc', '/utils/misc', class: @page == 'misc' && 'is-active'
